<div>
  <span class='#dd2c00 deep-orange-text text-accent-4'>
<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shop</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.shop %></td>
        <td><%= artist.schedule %></td>
        <td><%= link_to 'Show Artist', artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
</span>
</div>

<!-- %= link_to 'New Artist', new_artist_path % -->
