<div>
  <span class='#dd2c00 deep-orange-text text-accent-4'>
 <h1> Style: <%= @portfolio.style %> </h1>
<% @portfolio.photo_urls.each do |url| %>
   <img src=<%= url %> />
 <% end %>
 </span>
 </div>
 
