<div>
  <span class='#dd2c00 deep-orange-text text-accent-4'>
    <h1>Welcome to InkFace</h1>
      <h5>SLC's best place to find local artists!</h5>
        <hr />
<body>
<<<<<<< HEAD
  <div>
    <p>To begin your search click either the Artist or the Style button.</p>
    </span>
  </div>
  <img src="https://news.bme.com/wp-content/uploads/2008/05/shadeboxes.jpg" alt="Shoulder View of Tattoo Being Applied" style="width:250px;height:167px;">
  </div>
</body>
=======
	<div>
    <p>To begin your search click either the Artist or the Style button</p>
    <img src="https://news.bme.com/wp-content/uploads/2008/05/shadeboxes.jpg" alt="Shoulder View of Tattoo Being Applied" style="width:250px;height:167px;">
    </div>
    
</body>
>>>>>>> fixed stuff
