<h1>Welcome to InkFace</h1>
<h5>SLC's best place to find local artists!</h5>
<hr />
<body>
	<div>
    <p>To begin your search click either the Artist or the Style button</p>
    <img src="https://news.bme.com/wp-content/uploads/2008/05/shadeboxes.jpg" alt="Shoulder View of Tattoo Being Applied" style="width:250px;height:167px;">
    </div>
    <div>
        <ul>
    <li><%= link_to 'Artist', artists_path %></li>
    <li><%= link_to 'Styles', portfolios_path %></li>
    </div>
</body>