<h1>Welcome to the Tattoo Shop</h1>
<h5>SLC's best place to find a local artist</h5>
<hr />
<body>
    <p>To begin your search click either the Artist or the Style button</p>
    <p> centered image of person getting tattoo here</p>
