<h1>Welcome to InkFace</h1>
<h5>SLC's best place to find local artists!</h5>
<hr />
<body>
    <p>To begin your search click either the Artist or the Style button</p>
    <p> centered image of person getting tattoo here</p>
    <div>
        <ul>
    <li><%= link_to 'Artist', artists_path %></li>
    <li><%= link_to 'Styles', portfolios_path %></li>
    </div>
</body>